@import "./vars.css";
@import "./rainbow.css";
@import "./overrides.css";

/* 覆盖基础样式 */
.VPNavBarMenuLink.active span {
  color: var(--vp-c-brand-1);
}
.is-active a {
  color: var(--vp-c-brand-1);
}
.link:hover {
  color: var(--vp-c-brand-1);
}
.pager-link:hover {
  border: 1px solid var(--vp-c-brand-1) !important;
}
.VPFeature:hover {
  border: 1px solid var(--vp-c-brand-1) !important;
}
li .outline-link.active {
  color: var(--vp-c-brand-1) !important;
}
.link-text {
  color: var(--vp-c-brand-1);
}
.VPDocOutlineItem {
  color: var(--vp-c-brand-1);
}

.vp-doc tr {
  border: none;
}

.vp-doc th,
.vp-doc td {
  border: none;
}

.vp-doc .vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;
}
.vp-doc .vp-table > table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--vp-c-bg);
}
.vp-doc .vp-table > table th + td {
  white-space: nowrap;
  border-top: 1px solid var(--vp-c-divider);
  border-bottom: 1px solid var(--vp-c-divider);
  background-color: var(--vp-c-bg);
  padding: 0.6em 1em;
  text-align: left;
  max-width: 250px;
  white-space: pre-wrap;
}

.vp-doc .vp-table > table thead tr:first-child th {
  border-top: none;
}

.vp-doc .vp-table > table tbody tr td:first-child {
  font-family: var(--font-family-mono);
}
